{% extends 'base/base.html' %}
{% block content %}
<div class="text-center">
    <div class="row pb-5">
        <h1 class="mx-auto">{{project}}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow p-3">
                    <form method="post" action="{{url}}">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="task_title"
                                   id="floatingInput" placeholder="task task task">
                            <label for="floatingInput">Task</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" name="num_priority"
                                    aria-label="Floating label select example">
                                <option selected>Open this select priority</option>
                                <option value="1">High priority</option>
                                <option value="2">Middle priority</option>
                                <option value="3">Low priority</option>
                            </select>
                            <label for="floatingSelect">Select priority</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect1" name="num_status"
                                    aria-label="Floating label select example">
                                <option selected>Open this select status</option>
                                <option value="1">Completed</option>
                                <option value="2">Working</option>
                                <option value="3">Pending</option>
                            </select>
                            <label for="floatingSelect1">Select status</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="task_date"
                                   id="floatingInput1" placeholder="task creation date">
                            <label for="floatingInput1">Date</label>
                        </div>
                        <div class="position-relative container col-3 pt-3">
                            <button type="submit" class=" mx-auto btn btn-success">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow p-3" style="height: 278px; overflow-y: scroll">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Status</th>
                            <th scope="col">Handler</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                        <tr>
                            <th scope="row">{{task.name}}</th>
                            {% if task.priority == 1 %}
                            <td class="align-middle">
                                <span class="badge bg-danger">High priority</span>
                            </td>
                            {% elif task.priority == 2 %}
                            <td class="align-middle">
                                <span class="badge bg-warning">Middle priority</span>
                            </td>
                            {% elif task.priority == 3 %}
                            <td class="align-middle">
                                <span class="badge bg-success">Low priority</span>
                            </td>
                            {% endif %}
                            {% if task.status == 1 %}
                            <td class="align-middle">
                                <span class="badge bg-success">Completed</span>
                            </td>
                            {% elif task.status == 2 %}
                            <td class="align-middle">
                                <span class="badge bg-info">Working</span>
                            </td>
                            {% elif task.status == 3 %}
                            <td class="align-middle">
                                <span class="badge bg-danger">Pending</span>
                            </td>
                            {% endif %}
                            <td class="align-middle">
                                <a href="{% url 'baseapp:edit_task' pk=task.pk %}"
                                   data-mdb-toggle="tooltip" title="Edit">
                                    <i class="fas fa-pen text-warning me-3"></i></a>
                                <a href="{% url 'baseapp:change_status' pk=task.pk %}"
                                   data-mdb-toggle="tooltip" title="Done">
                                    <i class="fas fa-check text-success me-3"></i></a>
                                <a href="{% url 'baseapp:task_delete' pk=task.pk %}"
                                   data-mdb-toggle="tooltip" title="Remove">
                                    <i class="fas fa-trash-alt text-danger"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
